---
import P from "./P.astro";
import Subheader from "./Subheader.astro";

export interface Props {
  title: string;
  github: string;
  website?: string;
}

const { title, github, website } = Astro.props;
---

<div
  class="group relative overflow-hidden rounded-lg border-2 border-gray-900 bg-gradient-to-b from-slate-500 to-slate-600 px-4 py-2 drop-shadow-lg duration-150 lg:hover:ring-2 lg:hover:ring-lime-900 lg:hover:ease-in"
>
  {/* Desktop */}
  <div
    class="absolute hidden h-full w-full -translate-x-4 translate-y-full border-4 border-black bg-black text-center text-opacity-100 opacity-80 ring-4 ring-black lg:block lg:group-hover:-translate-y-2 lg:group-hover:transition lg:group-hover:duration-150"
  >
    <div class="flex h-full items-center justify-center">
      <a
        href={github}
        target="_blank"
        rel="noreferrer noopener"
        class="text-3xl"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="-1 -1 18 18"
          fill="currentColor"
          class="h-16 w-16"
          id="github"
          ><path
            d="M7.999 0C3.582 0 0 3.596 0 8.032a8.031 8.031 0 0 0 5.472 7.621c.4.074.546-.174.546-.387 0-.191-.007-.696-.011-1.366-2.225.485-2.695-1.077-2.695-1.077-.363-.928-.888-1.175-.888-1.175-.727-.498.054-.488.054-.488.803.057 1.225.828 1.225.828.714 1.227 1.873.873 2.329.667.072-.519.279-.873.508-1.074-1.776-.203-3.644-.892-3.644-3.969 0-.877.312-1.594.824-2.156-.083-.203-.357-1.02.078-2.125 0 0 .672-.216 2.2.823a7.633 7.633 0 0 1 2.003-.27 7.65 7.65 0 0 1 2.003.271c1.527-1.039 2.198-.823 2.198-.823.436 1.106.162 1.922.08 2.125.513.562.822 1.279.822 2.156 0 3.085-1.87 3.764-3.652 3.963.287.248.543.738.543 1.487 0 1.074-.01 1.94-.01 2.203 0 .215.144.465.55.386A8.032 8.032 0 0 0 16 8.032C16 3.596 12.418 0 7.999 0z"
          ></path>
        </svg>
      </a>
      {
        website ? (
          <>
            <div class="px-2" />
            <a
              href={website}
              target="_blank"
              rel="noreferrer noopener"
              class="text-3xl"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="1 1 22 22"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-16 w-16"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418"
                />
              </svg>
            </a>
          </>
        ) : null
      }
    </div>
  </div>
  <Subheader>{title}</Subheader>
  <P>
    <slot />
  </P>
</div>
