<footer>
  <div class="flex justify-center px-4 py-2 text-3xl">
    <a href="https://github.com/swiderskis">Github</a>
    <a
      href="https://www.linkedin.com/in/sebastian-rafa%C5%82-%C5%9Bwiderski-a32419152/"
      >LinkedIn</a
    >
  </div>
</footer>
